server {
    set onstatic_root /var/www/onstatic

    listen 80;
    server_name ~^(?<repo>.*)\.example\.com$;
    if (!-d $onstatic_root/repositories/$repo) {
        rewrite . https://example.com/ redirect;
    }

    root $onstatic_root/repositories/$repo;
    access_log /var/log/nginx/$repo.access.log;
}
